<% if current_user.premium? || current_user.admin? %>
  <h3>Add Collaborators</h3>

  <%= form_for [@wiki, @collaborator] do |f| %>
    <%= email_field_tag :collaborator %>
    <%= f.submit "Add collaborator", class: 'btn btn-primary' %>
    <% end %>

  <h3>Manage Collaborators</h3>

  <% @wiki.collaborators.each do |c| %>
    <% user = User.find(c.user_id) %>
    <%= user.email %>
    <%= link_to "Delete", wiki_collaborator_path(@wiki, c), class: 'btn btn-danger', method: :delete%>
  <% end %>
<% else %>
  <h3>You are not a premium or an admin. Therefore, you cannot add collaborators</h3>
<% end %>

<%= link_to 'Back', edit_wiki_path(@wiki) %>
